@use 'variables' as vars;
@use 'mixins/breakpoints' as bp;

$alert-breakpoint: 782px !default;

.#{vars.$prefix}alert {
    --#{vars.$prefix}alert-bg: #111214;

    inset-block-end: 0;
    inset-inline-start: 50%;
    max-inline-size: 100%;
    padding-block-end: 1.25rem;
    padding-inline: 1.25rem;
    position: fixed;
    transition: translate 500ms cubic-bezier(0.69, -2, 0.20, 2);
    translate: -50% 100%;
    z-index: 2;

    &.#{vars.$prefix}show {
        translate: -50%;
    }

    &-content {
        align-items: center;
        background: var(--#{vars.$prefix}alert-bg);
        border-radius: 0.3125rem;
        display: flex;
        inline-size: 46.375rem;
        justify-content: space-between;
        max-inline-size: 100%;
        padding-block: 0.625rem;
        padding-inline: 1rem 0.625rem;
        transition: background-color 500ms;

        @include bp.media-breakpoint-down($alert-breakpoint) {
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    &-msg {
        font-size: 1rem;
        font-weight: 500;
        inline-size: 100%;
        line-height: 1.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &-actions {
        align-items: center;
        display: flex;
        font-size: 14px;
        gap: 0.625rem;
        min-inline-size: fit-content;

        @include bp.media-breakpoint-down($alert-breakpoint) {
            inline-size: 100%;
            justify-content: end;
        }
    }

    &-warn {
        --#{vars.$prefix}alert-bg: var(--#{vars.$prefix}red);
    }
}
