@use 'variables' as vars;
@use 'mixins/fonts' as font;

.#{vars.$prefix}embed {
    --#{vars.$prefix}embed-color: #{vars.$dark-grey};
    --#{vars.$prefix}embed-span: span 1;

    @include font.base;

    background: vars.$grey;
    border-inline-start: 0.25rem solid var(--#{vars.$prefix}embed-color);
    border-radius: 0.25rem;
    color: var(--dc-white);
    display: grid;
    grid-template-columns: auto min-content;
    inline-size: fit-content;
    line-height: normal;
    max-inline-size: 32.25rem;
    overflow-wrap: anywhere;
    padding-block: 0.5rem 1rem;
    padding-inline: 0.75rem 1rem;

    &:has(&-thumbnail) {
        --#{vars.$prefix}embed-span: span 2;
    }

    &-author {
        align-items: center;
        display: flex;
        font-size: 0.875rem;
        font-weight: 600;
        gap: 8px;
        grid-column: 1;
        justify-content: flex-start;
        margin-block-start: 0.5rem;

        > img {
            aspect-ratio: 1;
            border-radius: 50%;
            max-block-size: 1.5rem;
            max-inline-size: 1.5rem;
            object-fit: contain;
        }

        > a {
            color: var(--dc-white);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-thumbnail {
        grid-column: 2;
        grid-row: 1 / span 4;
        margin-block-start: 0.5rem;
        margin-inline-start: 1rem;
        min-block-size: 5rem;
        min-inline-size: 5rem;
        position: relative;

        > img {
            max-block-size: 5rem;
            max-inline-size: 5rem;
            border-radius: 0.25rem;
            inset-inline-end: 0;
            object-fit: contain;
            position: absolute;
        }
    }

    &-title {
        font-weight: 600;
        grid-column: 1;
        margin-block-start: 0.5rem;

        > a {
            color: vars.$link;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &-description {
        font-size: 0.875rem;
        grid-column: 1;
        margin-block-start: 0.5rem;
    }

    &-fields {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        grid-column: 1;
        margin-block-start: 0.5rem;

        .#{vars.$prefix}embed-field {
            min-inline-size: 100%;

            &-inline {
                flex-grow: 1;
            }

            &-name {
                font-weight: 600;
            }

            &-value {
                font-size: 0.875rem;
            }
        }
    }

    &-image {
        grid-column: 1 / var(--#{vars.$prefix}embed-span);
        grid-row: 5;
        margin-block-start: 1rem;

        > img {
            border-radius: 0.25rem;
            max-block-size: 18.75rem;
            max-inline-size: 100%;
        }
    }

    &-footer {
        align-items: center;
        display: flex;
        font-size: 0.75rem;
        font-weight: 500;
        gap: 0.5rem;
        grid-column: 1 / var(--#{vars.$prefix}embed-span);
        grid-row: 6;
        margin-block-start: 0.5rem;

        > img {
            aspect-ratio: 1;
            border-radius: 50%;
            max-block-size: 1.5rem;
            max-inline-size: 1.5rem;
            object-fit: contain;
        }

        &-seperator {
            margin-inline: 0.25rem;
        }
    }
}
