@use 'variables' as vars;

$box-shadow: 0 0 0 0.25rem var(--#{vars.$prefix}focus-ring-color);

.#{vars.$prefix}focus-ring {
    border-radius: 0.25rem;
    box-shadow: $box-shadow;
    outline: none;
}
