@use 'variables' as vars;
@use 'mixins/active-states';
@use 'mixins/fonts' as font;

.#{vars.$prefix}guildbar {
    $transition-time: 200ms;
    $transition-curve: ease-out;

    --#{vars.$prefix}guildbar-item-bg: #{vars.$light-grey};
    --#{vars.$prefix}guildbar-item-border-radius: 50%;
    --#{vars.$prefix}guildbar-item-color: #dbdee1;
    --#{vars.$prefix}guildbar-pill-height: 0;
    --#{vars.$prefix}guildbar-pill-width: 0;
    --#{vars.$prefix}guildbar-pill-opacity: 0;

    @include font.base;

    background: var(--#{vars.$prefix}dark-grey);
    box-sizing: border-box;
    block-size: 100%;
    inline-size: 4.5rem;
    padding-block-start: 0.75rem;

    &-item {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-block-end: 0.5rem;
        position: relative;

        &:hover {
            --#{vars.$prefix}guildbar-item-bg: #{vars.$blurple};
            --#{vars.$prefix}guildbar-item-border-radius: 1rem;
            --#{vars.$prefix}guildbar-item-color: #{vars.$white};
            --#{vars.$prefix}guildbar-pill-height: 1.25rem;
            --#{vars.$prefix}guildbar-pill-width: 0.5rem;
            --#{vars.$prefix}guildbar-pill-opacity: 1;
        }

        &-success {
            --#{vars.$prefix}guildbar-item-color: #23a559;

            &:hover {
                --#{vars.$prefix}guildbar-item-bg: #23a559;
            }
        }

        &-img {
            background: var(--#{vars.$prefix}guildbar-item-bg);
            block-size: 3rem;
            border-radius: var(--#{vars.$prefix}guildbar-item-border-radius);
            display: grid;
            inline-size: 3rem;
            object-fit: cover;
            transition: border-radius $transition-time $transition-curve, background-color $transition-time $transition-curve;
        }

        &-letter {
            color: var(--#{vars.$prefix}guildbar-item-color);
            font-size: 1.125rem;
            font-weight: 500;
            place-self: center;
            white-space: nowrap;
        }

        &::before {
            align-self: center;
            background: var(--#{vars.$prefix}white);
            block-size: var(--#{vars.$prefix}guildbar-pill-height);
            border-radius: 0.25rem;
            content: '';
            inline-size: var(--#{vars.$prefix}guildbar-pill-width);
            inset-inline-start: 0;
            margin-inline: -0.25rem;
            opacity: var(--#{vars.$prefix}guildbar-pill-opacity);
            position: absolute;
            transition: block-size $transition-time $transition-curve,
            opacity $transition-time $transition-curve,
            inline-size $transition-time $transition-curve;
        }

        &:active {
            @include active-states.active-translate;

            &::before {
                @include active-states.active-translate(true);
            }
        }

        &.#{vars.$prefix}active {
            --#{vars.$prefix}guildbar-item-bg: #{vars.$blurple};
            --#{vars.$prefix}guildbar-item-border-radius: 1rem;
            --#{vars.$prefix}guildbar-pill-height: 2.5rem;
            --#{vars.$prefix}guildbar-pill-width: 0.5rem;
            --#{vars.$prefix}guildbar-pill-opacity: 1;
        }
    }

    &-separator {
        background: var(--#{vars.$prefix}light-grey);
        border-radius: 0.0625rem;
        block-size: 0.125rem;
        margin-block: 0.5rem;
        margin-inline: auto;
        inline-size: 2rem;
    }
}
