@use 'variables' as vars;
@use 'mixins/fonts' as font;

// use of :is() selector as it gets extended by _message.scss

.#{vars.$prefix}link {
    @include font.base;

    color: var(--#{vars.$prefix}link);
    text-decoration: none;
    cursor: pointer;

    :is(&):hover {
        text-decoration: underline;
    }
}
