.#{$prefix}mention {
    --#{$prefix}mention-bg: var(--#{$prefix}blurple-rgb);
    --#{$prefix}mention-bg-opacity: 0.5;
    --#{$prefix}mention-color: var(--#{$prefix}white-rgb);
    --#{$prefix}mention-color-opacity: 0.86;
    --#{$prefix}mention-bg-opacity-hover: 1;
    --#{$prefix}mention-color-hover: var(--#{$prefix}blurple-rgb);
    --#{$prefix}mention-color-opacity-hover: 1;

    background: rgba(var(--#{$prefix}mention-bg), var(--#{$prefix}mention-bg-opacity));
    border-radius: 3px;
    color: rgba(var(--#{$prefix}mention-color), var(--#{$prefix}mention-color-opacity));
    cursor: pointer;
    font-weight: 500;
    padding-inline: 2px;
    text-decoration: none;
    transition: color 50ms ease-out, background-color 50ms ease-out;

    &:hover {
        background: rgba(var(--#{$prefix}mention-bg), var(--#{$prefix}mention-bg-opacity-hover));
        color: rgba(var(--#{$prefix}mention-color), var(--#{$prefix}mention-color-opacity-hover));
    }

    &-role {
        --#{$prefix}mention-bg: var(--#{$prefix}mention-color);
        --#{$prefix}mention-bg-opacity: 0.1;
        --#{$prefix}mention-color: var(--#{$prefix}blurple-rgb);
        --#{$prefix}mention-color-opacity: 1;
        --#{$prefix}mention-bg-opacity-hover: 0.3;
        --#{$prefix}mention-color-hover: var(--#{$prefix}blurple-rgb);
        --#{$prefix}mention-color-opacity-hover: 1;

        cursor: text;
    }
}
