@use 'variables' as vars;
@use 'mixins/fonts' as font;

.#{vars.$prefix}mention {
    --#{vars.$prefix}mention-bg: var(--#{vars.$prefix}blurple-rgb);
    --#{vars.$prefix}mention-bg-opacity-hover: 1;
    --#{vars.$prefix}mention-color-hover: var(--#{vars.$prefix}white-rgb);
    --#{vars.$prefix}mention-color-opacity-hover: 1;

    @include font.base;

    background: rgb(var(--#{vars.$prefix}mention-bg) / var(--#{vars.$prefix}mention-bg-opacity));
    border-radius: 0.1875rem;
    color: rgb(var(--#{vars.$prefix}mention-color-rgb));
    cursor: pointer;
    font-weight: 500;
    padding-inline: 0.125rem;
    text-decoration: none;
    transition: color 50ms ease-out, background-color 50ms ease-out;

    &:hover {
        background: rgb(var(--#{vars.$prefix}mention-bg) / var(--#{vars.$prefix}mention-bg-opacity-hover));
        color: rgb(var(--#{vars.$prefix}mention-color-hover));
    }

    &-role {
        --#{vars.$prefix}mention-bg: var(--#{vars.$prefix}mention-color-rgb);
        --#{vars.$prefix}mention-bg-opacity: 0.1;
        --#{vars.$prefix}mention-color-rgb: var(--#{vars.$prefix}blurple-rgb);
        --#{vars.$prefix}mention-color-opacity: 1;
        --#{vars.$prefix}mention-bg-opacity-hover: 0.3;
        --#{vars.$prefix}mention-color-hover: var(--#{vars.$prefix}mention-color-rgb);
        --#{vars.$prefix}mention-color-opacity-hover: 1;

        cursor: text;
    }
}
