@use 'variables' as vars;

// use of :is() selector as it gets extended by _text-field.scss

.#{vars.$prefix}scrollbar {
    --#{vars.$prefix}scrollbar-color: #1a1b1e;

    overflow-y: scroll;
    scrollbar-color: var(--#{vars.$prefix}scrollbar-color) var(--#{vars.$prefix}grey);

    :is(&)::-webkit-scrollbar {
        inline-size: 1rem;
    }

    :is(&)::-webkit-scrollbar-track {
        background: var(--#{vars.$prefix}grey);
        background-clip: padding-box;
        border: 0.25rem solid transparent;
        border-radius: 8px;
    }

    :is(&)::-webkit-scrollbar-thumb {
        background: var(--#{vars.$prefix}scrollbar-color);
        background-clip: padding-box;
        border: 0.25rem solid transparent;
        border-radius: 0.5rem;
        min-block-size: 2.5rem;
    }

    &-thin {
        @extend .#{vars.$prefix}scrollbar;
        scrollbar-width: none;

        :is(&)::-webkit-scrollbar {
            inline-size: 0;
        }

        :is(&)::-webkit-scrollbar-track {
            border: 0.125rem solid transparent;
        }

        :is(&)::-webkit-scrollbar-thumb {
            border: 0.125rem solid transparent;
        }

        :is(&):hover {
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                inline-size: 0.5rem;
            }
        }
    }

    &-none {
        overflow-y: scroll;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
