.#{$prefix}sidebar {
    $transition-time: 200ms;
    $transition-curve: ease-out;

    --#{$prefix}sidebar-item-border-radius: 50%;
    --#{$prefix}sidebar-pill-height: 0;
    --#{$prefix}sidebar-pill-width: 0;
    --#{$prefix}sidebar-pill-opacity: 0;

    background: var(--#{$prefix}dark-grey);
    box-sizing: border-box;
    height: 100%;
    inline-size: 72px;
    padding-block-start: 12px;

    &-item {
        display: flex;
        justify-content: center;
        margin-block-end: 8px;
        position: relative;

        &:hover {
            --#{$prefix}sidebar-item-border-radius: 16px;
            --#{$prefix}sidebar-pill-height: 20px;
            --#{$prefix}sidebar-pill-width: 8px;
            --#{$prefix}sidebar-pill-opacity: 1;
        }

        &-img {
            border-radius: var(--#{$prefix}sidebar-item-border-radius);
            height: 48px;
            object-fit: cover;
            transition: border-radius $transition-time $transition-curve;
            width: 48px;
        }

        &::before {
            align-self: center;
            background: var(--#{$prefix}white);
            border-radius: 4px;
            content: '';
            height: var(--#{$prefix}sidebar-pill-height);
            inline-size: var(--#{$prefix}sidebar-pill-width);
            inset-inline-start: 0;
            margin-inline: -4px;
            opacity: var(--#{$prefix}sidebar-pill-opacity);
            position: absolute;
            transition: height $transition-time $transition-curve,
                        opacity $transition-time $transition-curve,
                        width $transition-time $transition-curve;
        }

        &.#{$prefix}active {
            --#{$prefix}sidebar-item-border-radius: 16px;
            --#{$prefix}sidebar-pill-height: 40px;
            --#{$prefix}sidebar-pill-width: 8px;
            --#{$prefix}sidebar-pill-opacity: 1;
        }
    }

    &-seperator {
        background: var(--#{$prefix}light-grey);
        border-radius: 1px;
        height: 2px;
        margin-block-end: 8px;
        margin-inline: auto;
        width: 32px;
    }
}
