@use 'variables' as *;

.#{$prefix}sidebar {
    $transition-time: 200ms;
    $transition-curve: ease-out;

    --#{$prefix}sidebar-item-border-radius: 50%;
    --#{$prefix}sidebar-pill-height: 0;
    --#{$prefix}sidebar-pill-width: 0;
    --#{$prefix}sidebar-pill-opacity: 0;

    background: var(--#{$prefix}dark-grey);
    box-sizing: border-box;
    block-size: 100%;
    min-inline-size: 4.5rem;
    padding-block-start: 0.75rem;

    &-item {
        display: flex;
        justify-content: center;
        margin-block-end: 0.5rem;
        position: relative;

        &:hover {
            --#{$prefix}sidebar-item-border-radius: 1rem;
            --#{$prefix}sidebar-pill-height: 1.25rem;
            --#{$prefix}sidebar-pill-width: 0.5rem;
            --#{$prefix}sidebar-pill-opacity: 1;
        }

        &-img {
            block-size: 3rem;
            border-radius: var(--#{$prefix}sidebar-item-border-radius);
            inline-size: 3rem;
            object-fit: cover;
            transition: border-radius $transition-time $transition-curve;
        }

        &::before {
            align-self: center;
            background: var(--#{$prefix}white);
            block-size: var(--#{$prefix}sidebar-pill-height);
            border-radius: 0.25rem;
            content: '';
            inline-size: var(--#{$prefix}sidebar-pill-width);
            inset-inline-start: 0;
            margin-inline: -0.25rem;
            opacity: var(--#{$prefix}sidebar-pill-opacity);
            position: absolute;
            transition: height $transition-time $transition-curve,
                        opacity $transition-time $transition-curve,
                        width $transition-time $transition-curve;
        }

        &.#{$prefix}active {
            --#{$prefix}sidebar-item-border-radius: 1rem;
            --#{$prefix}sidebar-pill-height: 2.5rem;
            --#{$prefix}sidebar-pill-width: 0.5rem;
            --#{$prefix}sidebar-pill-opacity: 1;
        }
    }

    &-seperator {
        background: var(--#{$prefix}light-grey);
        border-radius: 0.0625rem;
        height: 0.125rem;
        margin-block-end: 0.5rem;
        margin-inline: auto;
        width: 2rem ;
    }
}
