@use 'variables' as vars;
@use 'mixins/active-states';

.#{vars.$prefix}sidebar {
    $transition-time: 200ms;
    $transition-curve: ease-out;

    --#{vars.$prefix}sidebar-item-border-radius: 50%;
    --#{vars.$prefix}sidebar-pill-height: 0;
    --#{vars.$prefix}sidebar-pill-width: 0;
    --#{vars.$prefix}sidebar-pill-opacity: 0;

    background: var(--#{vars.$prefix}dark-grey);
    box-sizing: border-box;
    block-size: 100%;
    inline-size: 4.5rem;
    padding-block-start: 0.75rem;

    &-item {
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-block-end: 0.5rem;
        position: relative;

        &:hover {
            --#{vars.$prefix}sidebar-item-border-radius: 1rem;
            --#{vars.$prefix}sidebar-pill-height: 1.25rem;
            --#{vars.$prefix}sidebar-pill-width: 0.5rem;
            --#{vars.$prefix}sidebar-pill-opacity: 1;
        }

        &-img {
            block-size: 3rem;
            border-radius: var(--#{vars.$prefix}sidebar-item-border-radius);
            inline-size: 3rem;
            object-fit: cover;
            transition: border-radius $transition-time $transition-curve;
        }

        &::before {
            align-self: center;
            background: var(--#{vars.$prefix}white);
            block-size: var(--#{vars.$prefix}sidebar-pill-height);
            border-radius: 0.25rem;
            content: '';
            inline-size: var(--#{vars.$prefix}sidebar-pill-width);
            inset-inline-start: 0;
            margin-inline: -0.25rem;
            opacity: var(--#{vars.$prefix}sidebar-pill-opacity);
            position: absolute;
            transition: height $transition-time $transition-curve,
                        opacity $transition-time $transition-curve,
                        width $transition-time $transition-curve;
        }

        &:active {
            @include active-states.active-translate;

            &::before {
                @include active-states.active-translate(true);
            }
        }

        &.#{vars.$prefix}active {
            --#{vars.$prefix}sidebar-item-border-radius: 1rem;
            --#{vars.$prefix}sidebar-pill-height: 2.5rem;
            --#{vars.$prefix}sidebar-pill-width: 0.5rem;
            --#{vars.$prefix}sidebar-pill-opacity: 1;
        }
    }

    &-separator {
        background: var(--#{vars.$prefix}light-grey);
        border-radius: 0.0625rem;
        height: 0.125rem;
        margin-block: 0.5rem;
        margin-inline: auto;
        width: 2rem ;
    }
}
