$prefix: 'dc-' !default;

// Colors
$blurple: #5865F2;
$old-blurple: #7289DA;
$green: #57F287;
$yellow: #FEE75C;
$red: #ED4245;
$fuchsia: #EB459E;
$white: #FFFFFF;
$black: #23272A;
$greyple: #99AAB5;
$light-grey: #313338;
$grey: #2b2d31;
$dark-grey: #1e1f22;
$link: #00a8fc;

$button-colors: (
    'blurple': (
        'default': $blurple,
        'hover': #4752c4,
    ),
    'danger': (
        'default': #da373c,
        'hover': #a12828,
    ),
    'success': (
        'default': #248046,
        'hover': #1a6334,
    )
);

$discord-colors: (
    'blurple': $blurple,
    'old-blurple': $old-blurple,
    'green': $green,
    'yellow': $yellow,
    'red': $red,
    'fuchsia': $fuchsia,
    'white': $white,
    'black': $black,
    'greyple': $greyple,
    'light-grey': $light-grey,
    'grey': $grey,
    'dark-grey': $dark-grey,
    'link': $link
);
