$text-color: #313338;
$muted: #5c5e66;
$interactive-muted: #c4c9ce;
$link: #006ce7;
$header-primary: #060607;
$header-secondary: #4e5058;
$input-background: rgb(0 0 0 / 8%);
$range-thumb-box-shadow: rgb(0 0 0 / 8%) 0 0 0 1px, rgb(0 0 0 / 3%) 0 2px 0 0, rgb(0 0 0 / 3%) 0 1.5px 0 0, rgb(0 0 0 / 8%) 0 1px 0 0, rgb(0 0 0 / 8%) 0 1px 4px 0;
$radio-bg-hover: #eaebed;
$radio-bg-selected: #e1e2e4;
$radio-bg-active: #e6e6e8;
