@use '../variables' as vars;

@mixin button-outline($color) {
    --#{vars.$prefix}background: transparent;
    --#{vars.$prefix}background-hover: #{$color};
    border-color: $color;
    border-style: solid;
    border-width: 0.0625rem;
    padding: 0.4375rem 0.9375rem;
}
