.code-preview {
    border-radius: 0.25rem;
    overflow: hidden;
    margin-block-end: 0.25rem;

    &-header {
        background-color: var(--dc-bg-tertiary);
        padding-block: 0.25rem;
        padding-inline: 1rem;
        text-transform: uppercase;
    }

    &-content {
        background-color: var(--dc-bg-secondary);
        padding: 1rem;

        &--bordered {
            background-color: transparent;
            padding: 1rem;
            border: 0.25rem solid var(--dc-bg-tertiary);
        }
    }
}
