@use '../variables' as vars;
@use '../focus-ring';

@mixin thumb {
    appearance: none;
    background: var(--#{vars.$prefix}white);
    block-size: 1.5rem;
    border: none;
    border-radius: 0.1875rem;
    box-shadow: var(--#{vars.$prefix}range-thumb-box-shadow);
    cursor: var(--#{vars.$prefix}range-thumb-cursor);
    inline-size: 0.675rem;
}

.#{vars.$prefix}range {
    --#{vars.$prefix}range-thumb-cursor: ew-resize;
    --#{vars.$prefix}range-bg-fill: 0%;

    appearance: none;
    background: linear-gradient(90deg, var(--#{vars.$prefix}blurple) var(--#{vars.$prefix}range-bg-fill), var(--#{vars.$prefix}interactive-muted) 0%);
    block-size: 0.5rem;
    border-radius: 0.25rem;
    inline-size: 100%;

    &:disabled,
    &-disabled {
        --#{vars.$prefix}range-thumb-cursor: not-allowed;

        opacity: 0.5;
    }

    &:focus-visible {
        --#{vars.$prefix}range-thumb-box-shadow: #{focus-ring.$box-shadow};

        outline: none;
    }

    &::-webkit-slider-thumb {
        @include thumb;
    }

    &::-moz-range-thumb {
        @include thumb;
    }
}
